.section-two-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 20px;
	margin-right: 20px;
}
.right-sect {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 15px;
}

.right-sect img {
	width: 300px;
	height: 175px;
}
.right-sect > img:hover {
	transform: scale(1.4);
	z-index: 2;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	-ms-transform: scale(1.4);
	-o-transform: scale(1.4);
}

/* media query */
@media only screen and (max-width: 600px) {
	.right-sect {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		gap: 15px;
	}
}
